header {
    background: linear-gradient(135deg, #6D5BFF, #FF6B6B); 
    color: white; 
    padding: 30px ; 
    text-align: center; 
    border-bottom: 4px solid #FF6B6B; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 40px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

header h1 {
    font-size: 2.5em; 
    margin: 10px; 
    letter-spacing: 1px; 
}

header p {
    font-size: 1.2em;
    margin: 10px; 
    opacity: 0.9; 
}



