body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

select, button {
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
}

select {
  width: 200px;
  background-color: #fff;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

canvas {
  margin: 20px 0;
  width: 100%;
  max-width: 600px;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 10px;
}

#video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#video {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #ddd;
}

@media (max-width: 768px) {
  select, button {
    width: 90%;
  }

  canvas, #video {
    width: 90%;
  }
}
